.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: .5rem 1rem;
  gap: 2rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-primary);
  }
}


.logo {
  font-size: 20px;
}

/* BOTÓN */
.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #eee4e4;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* ANIMACIÓN A X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* NAV */
.nav {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
}

.nav a {
  padding: 16px;
  text-decoration: none;
  color: #333;
}

.nav.show {
  display: flex;
}

