.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: .5rem 1rem;
  gap: 2rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-primary);
  }
}


.logo {
  font-size: 20px;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #eee4e4;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.nav {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    max-height 0.8s ease,
    opacity 0.6s ease,
    transform 0.6s ease;
}

.nav a {
  padding: 16px;
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--background);
  border-style: solid;
  border-width: 1px 0;
  border-color: var(--border);
}


.nav.show {
  max-height: 300px; 
  opacity: 1;
  transform: translateY(0);
	z-index: 2;
}

.btnUser {
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px var(--shadow);
  outline: none;
}

.btnUser:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-light);
  transform: translateY(-1px);
}

.iconUser {
  width: 24px;
  height: 24px;
  stroke: var(--text-secondary);
  transition: stroke 0.2s ease;
}

.btnUser:hover .iconUser {
  stroke: var(--text-primary);
}

.btnUser:active {
  background-color: var(--primary-dark);
  transform: translateY(0);
}

.btnUser:focus-visible {
  border-color: var(--primary-light);
  box-shadow: 0 0 0 3px var(--hsla-example);
}